server:
  port: 8083
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rt_orders
    username: postgres
    password: 123
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG


app:
  security:
    jwt:
      secret: 8bc5013076fe8a59ccb4ad731e17b757002f0f07588444d66bb95b8c4d32b4e1
  catalog:
    base-url: http://localhost:8082
  http:
    connect-timeout-ms: 3000
    read-timeout-ms: 5000